@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #d2aa19;
  --primary-light: #eae6cf;
  --primary-hover: #745f14;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('../public/img/bg.jpeg') ;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  color: var(--primary);
}

.bg-primary{
  background-color: var(--primary);
}

.hover-bg-primary{
  background-color: var(--primary);
}

.hover-bg-primary:hover{
  background-color: var(--primary-hover);
}

.bg-white-095{
  background-color: white;
  opacity: 0.95;
}

.border{
  border-color: var(--primary-light);
}

.errors{
  color: red;
  font-size: small;
}

.primary-input{
  border: none;
  border-bottom: 2px solid #acaca7;
  background-color: #f5f5f5;
}

*, ::before, ::after{
  --tw-ring-color: transparent
}

.hover-bg-primary:hover {
  color: white;
}
.hover-bg-primary {
  background-color: var(--primary);
  color: black;
}